score_board.csv
match_events.csv
__pycache__/
info.dat
ready_trader_go/__pycache__/
tradergo_venv/
autotrader.log
exchange.log
*.log
tradergo_venv/lib/python3.11/site-packages/PySide6/__pycache__/
tradergo_venv/lib/python3.11/site-packages/PySide6/support/__pycache__/